In [ ]:
import numpy as np
import pandas as pd
import re

In [ ]:
df= pd.read_csv('kannada_paraphrases.csv')

In [ ]:
!pip install inltk

In [ ]:
from inltk.inltk import setup

In [ ]:
setup('kn')

In [ ]:
from inltk.inltk import get_embedding_vectors

In [ ]:
from inltk.inltk import tokenize

In [ ]:
# df = df[:100]

In [ ]:
# PRE-PROCESSING : CLEANING
# OUTPUT: CLEAN DATA, STRIPPED OF UNWANTED CHARACTERS AND ALPHABETS

df.Sentence_1 = df.Sentence_1.str.replace('\d+', '')
df.Sentence_1 = df.Sentence_1.str.replace('\'','')
df.Sentence_1 = df.Sentence_1.str.replace('\"','')
df.Sentence_1 = df.Sentence_1.str.replace(',','')
df.Sentence_1 = df.Sentence_1.str.replace('.','')
df.Sentence_1 = df.Sentence_1.str.replace('-','')
df.Sentence_1 = df.Sentence_1.str.replace('%','')
df.Sentence_1 = df.Sentence_1.str.replace(':','')
df.Sentence_1 = df.Sentence_1.str.replace('$','')
df.Sentence_1 = [re.sub('[a-zA-Z]','',df.Sentence_1.iloc[i]) for i in range(len(df.Sentence_1))]

In [ ]:
df.Sentence_1.iloc[100:130]

100    ಇರಾನ್ ಅಧ್ಯಕ್ಷೀಯ ಮತದಾನದಲ್ಲಿ ರೂಹಾನಿ ಮುನ್ನಡೆ  ಪ್ರ...
101    ಖೈದಿಗಳ ವಿನಿಮಯದ ಕುರಿತು ಇಸ್ರೇಲಿಗಳು ಪ್ಯಾಲೆಸ್ಟೀನಿಯ...
102    ಬೆಲ್‌ಫಾಸ್ಟ್ ಧ್ವಜ ಪ್ರತಿಭಟನೆಯಲ್ಲಿ ಪೊಲೀಸರು ದಾಳಿ ನ...
103    ನೈಜೀರಿಯಾ ಪಾಲಿಮರ್ ನೋಟುಗಳನ್ನು ಹಂತ ಹಂತವಾಗಿ ತೆಗೆದು...
104    ದಕ್ಷಿಣ ಕೊರಿಯಾ ಕೆಸಾಂಗ್ ಕುರಿತು ಉತ್ತರ ಕೊರಿಯಾದ ಅಂತ...
105    ಪ್ಯಾಲೇಸ್ಟಿನಿಯನ್ ಕೈದಿಗಳ ಬಿಡುಗಡೆಯನ್ನು ಅನುಮೋದಿಸಲು...
106    ಬಂದೂಕುಧಾರಿಗಳು  ವಿದೇಶಿ ಪ್ರವಾಸಿಗರನ್ನು ಕೊಂದರು ಒಬ್...
107    ಪ್ಯಾಲೇಸ್ಟಿನಿಯನ್ನರು ಮತ್ತೊಂದು ವೆಸ್ಟ್ ಬ್ಯಾಂಕ್ ಟೆಂ...
108    ಮೊರ್ಸಿ ಪರ ಪ್ರತಿಭಟನೆಗೆ ಮುನ್ನ ಈಜಿಪ್ಟ್ ಭದ್ರತೆಯನ್ನ...
109    ವಸಾಹತು ಯೋಜನೆಗಳ ಮೇಲೆ ಇಸ್ರೇಲಿ ರಾಯಭಾರಿಗಳನ್ನು ಕರೆಸ...
110     ಸೋರಿಕೆದಾರನ ವಿರುದ್ಧ ಬೇಹುಗಾರಿಕೆ ಆರೋಪವನ್ನು ಅಮೆರಿ...
111    ನೆವಾಡಾ ಮಿಡ್ಲ್ ಸ್ಕೂಲ್ ಗುಂಡಿನ ದಾಳಿಯಲ್ಲಿ  ಸಾವು  ಮ...
112    ಬಾಂಗ್ಲಾದೇಶ ಕಟ್ಟಡ ಕುಸಿದು ಸಾವಿನ ಸಂಖ್ಯೆ ಕ್ಕೆ ತಲುಪಿದೆ
113    ಸ್ಟೇಟ್ ಆಫ್ ಯೂನಿಯನ್‌ನಲ್ಲಿ ಒಬಾಮಾ ಆರ್ಥಿಕತೆಯ ಮೇಲೆ ...
114    ಚೀನಾದ ಜನರಲ್ ಮಗನಿಗೆ ಅತ್ಯಾಚಾರ ಪ್ರಕರಣದಲ್ಲಿ  ವರ್ಷ ...
115    ಮೊರ್ಸಿ ಬೆಂಬಲಿಗರ ಮೇಲಿನ ಈಜಿಪ್ಟ್ ಶಿಸ್ತುಕ್ರಮಕ್ಕೆ ಇ...
116                       ಪಾಕಿಸ್ತಾನದಲ್ಲಿ ಸಾಧಾರಣ ಭೂಕಂಪನವು
117    ಕೊಸೊವೊ ಅಂಗಾಂಗ ಕಳ್ಳಸಾಗಣೆ ಪ್ರಕರಣದಲ್ಲಿ ಐವರಿಗೆ ಶಿಕ್ಷೆ
118        ಬಾಂಗ್ಲಾ ಪ್ರತಿಭಟನೆಯಲ್ಲಿ  ಮಂದಿ ಸಾವನ್ನಪ್ಪಿದ್ದಾರೆ
119    ಫ್ಲೋರಿಡಾ ಅಪಾರ್ಟ್‌ಮೆಂಟ್‌ನಲ್ಲಿ ಗುಂಡಿನ ದಾಳಿ ನಡೆಸಿ...
120            ಪ್ರತಿಭಟನೆಯ ನಡುವೆ ಉಕ್ರೇನ್ ಪ್ರಧಾನಿ ರಾಜೀನಾಮೆ
121        ಇರಾಕ್‌ನಲ್ಲಿ ಬಾಂಬ್ ಸ್ಫೋಟದ ಅಲೆ  ಜನರನ್ನು ಕೊಂದಿತು
122    ಗೂಗಲ್ ಇಂಟರ್ನೆಟ್ಬೀಮಿಂಗ್ ಬಲೂನ್‌ಗಳನ್ನು ಬಿಡುಗಡೆ ಮಾ...
123    ಶಸ್ತ್ರಾಸ್ತ್ರಗಳ ಮೇಲೆ ಉದ್ವಿಗ್ನತೆ ಹೆಚ್ಚಾಗುತ್ತಿದ್ದ...
124    ಅಮೆರಿಕದ ದತ್ತು ನಿಷೇಧಕ್ಕೆ ರಷ್ಯಾ ಆರಂಭಿಕ ಒಪ್ಪಿಗೆ ನ...
125    ಸ್ಯಾನ್ ಫ್ರಾನ್ಸಿಸ್ಕೋ ವಿಮಾನವು ಒಂದು ನೋಟದಲ್ಲಿ ಅಪಘಾ...
126                  ಹೃತಿಕ್ ರೋಷನ್ ಪತ್ನಿ ಸುಸಾನೆ ಬೇರೆಯಾದರು
127    ಕ್ರಿಸ್ಮಸ್ ಕ್ರೂಸ್ ಪ್ರಯಾಣಿಕರು ನೊರೊವೈರಸ್ನಿಂದ ಹೊಡೆ...
128    ಆಘಾತಕಾರಿ ಚಲನೆಯಲ್ಲಿ ಒಬಾಮಾ ಸಿರಿಯಾ ಮುಷ್ಕರವನ್ನು ತಡ...
129                ಸ್ನೋಡೆನ್ ರಷ್ಯಾದಲ್ಲಿ ಉಳಿಯಲು ಕೇಳುತ್ತಾನೆ
Name: Sentence_1, dtype: object

In [ ]:
df.Sentence_2 = df.Sentence_2.str.replace('\d+', '')
df.Sentence_2 = df.Sentence_2.str.replace('\'','')
df.Sentence_2 = df.Sentence_2.str.replace('\"','')
df.Sentence_2 = df.Sentence_2.str.replace(',','')
df.Sentence_2 = df.Sentence_2.str.replace('.','')
df.Sentence_2 = df.Sentence_2.str.replace('-','')
df.Sentence_2 = df.Sentence_2.str.replace('%','')
df.Sentence_2 = df.Sentence_2.str.replace(':','')
df.Sentence_2 = df.Sentence_2.str.replace('$','')
df.Sentence_2 = [re.sub('[a-zA-Z]','',df.Sentence_2.iloc[i]) for i in range(len(df.Sentence_2))]

In [ ]:
df.Sentence_2.iloc[61]

'ಮೇ ವಸತಿ ಪ್ರಾರಂಭವಾಗುತ್ತದೆ '

In [ ]:
# STORE CLEANED DATASET

df.to_csv('cleaned_dataset.csv')

In [ ]:


df2= pd.read_csv('cleaned_dataset.csv')
df2.iloc[200:300]

     Unnamed: 0  ...                                         Sentence_2
200         200  ...  ಮುಂಬೈ ಪೊಲೀಸರು ಸಾಮೂಹಿಕ ಅತ್ಯಾಚಾರ ಪ್ರಕರಣದಲ್ಲಿ ಐದನ...
201         201  ...        ಈಜಿಪ್ಟಿನವರು ಸಂವಿಧಾನ ಬದಲಾವಣೆಗೆ ಮತ ಹಾಕುತ್ತಾರೆ
202         202  ...  ಉತ್ತರ ಕೊರಿಯಾ ಕಡಿಮೆ ವ್ಯಾಪ್ತಿಯ ಕ್ಷಿಪಣಿಗಳನ್ನು ಉಡಾ...
203         203  ...   ಈಜಿಪ್ಟ್ ಪ್ರತಿಭಟನೆಯಲ್ಲಿ ಸತ್ತವರ ಸಂಖ್ಯೆ  ಕ್ಕೆ ಏರಿದೆ
204         204  ...  ಸಿರಿಯಾದ ರಾಸಾಯನಿಕ ಅಸ್ತ್ರಗಳ ಬಗ್ಗೆ ಅಮೆರಿಕದ ಕಾಳಜಿ ...
..          ...  ...                                                ...
295         295  ...                   ನಿಜವಾಗಿ ಬೆಥ್ ಲೆಹೆಮ್ನ ಪುಟ್ಟ ಪಟ್ಟಣ
296         296  ...  ಪಾಕಿಸ್ತಾನದಲ್ಲಿ ಆತ್ಮಹತ್ಯಾ ಬಾಂಬರ್‌ಗಳು  ಸೈನಿಕರನ್ನ...
297         297  ...  ಪೇಟ್ರಿಯಾಟ್ ಕ್ಷಿಪಣಿ ಬ್ಯಾಟರಿಗಳು ಸಿರಿಯನ್ ಗಡಿಯ ಬಳಿ...
298         298  ...     ಕಾಬೂಲ್ ಬ್ಯಾಂಕ್ ಮುಖ್ಯಸ್ಥರಿಗೆ ಭ್ರಷ್ಟಾಚಾರದ ಶಿಕ್ಷೆ
299         299  ...  ಗಿನಿಯಾದ ಜನರು ಶಾಸಕಾಂಗ ಚುನಾವಣೆಯಲ್ಲಿ ಮತ ಚಲಾಯಿಸುತ್...

[100 rows x 3 columns]

In [ ]:
# TOKENIZER API

s1= []
s2= []
for i in range(len(df)):
  s1.append(list(tokenize(df.Sentence_1.iloc[i],'kn')))
  s2.append(list(tokenize(df.Sentence_2.iloc[i],'kn')))

In [ ]:
# output is a LIST OF LISTS containing the tokens of every sentence

In [ ]:
# TO SHOW difference of cleaned sentence and tokenized sentence

m= 310
print(df.Sentence_1.iloc[m])
s1[m]

ಒಬಾಮಾ ಒಬಾಮಾಕೇರ್‌ಗೆ ಸಹಿ ಹಾಕಿದರು

['▁ಒಬಾಮಾ', '▁ಒಬಾಮಾ', 'ಕೇ', 'ರ್', '▁ಗೆ', '▁ಸಹಿ', '▁ಹಾಕಿದರು']

In [ ]:
# A porter stemmer to show stemmed tokens

import nltk
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
nltk.download('punkt')
  
ps = PorterStemmer()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
print(s1[100])
print([ps.stem(ele) for ele in s1[100]])

['▁ಇರಾನ್', '▁ಅಧ್ಯಕ್ಷೀಯ', '▁ಮತದಾನ', 'ದಲ್ಲಿ', '▁ರೂ', 'ಹಾನಿ', '▁ಮುನ್ನಡೆ', '▁ಪ್ರಾಥಮಿಕ', '▁ಫಲಿತಾಂಶಗಳು']
['▁ಇರಾನ್', '▁ಅಧ್ಯಕ್ಷೀಯ', '▁ಮತದಾನ', 'ದಲ್ಲಿ', '▁ರೂ', 'ಹಾನಿ', '▁ಮುನ್ನಡೆ', '▁ಪ್ರಾಥಮಿಕ', '▁ಫಲಿತಾಂಶಗಳು']